@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
html {
  font-size: 10px;
}
body {
  font-family: Roboto;
}
img {
  width: auto; 
  max-width: 100%;
}
.button {
  background-color: #fcb303;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-size: 1.3rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.button:hover {
  background-color: orange;
}
.form-input {
  display: block;
  margin: 2rem 0;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 1.3rem;
  font-size: 2rem;
  border-radius: 5px;
}
.form label {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
section {
  padding: 10rem 0;
}
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/mainphoto.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.45;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
}
.main-trigger {
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 3rem;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-link {
  display: block;
  color: #1a1820;
  font-weight: 900;
  font-size: 2rem;
  text-decoration: none;
  height: 7rem;
  line-height: 7rem;
}
.main-content {
  display: block;
  margin-top: 10rem;
}
.section-header {
  text-align: center;
  font-size: 3.6rem;
  margin: 1.3rem 0 10rem;
}
.features-block {
  text-align: center;
}
.features h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features p a {
  color: green;
}
.features-img {
  height: 9rem;
  margin-bottom: 2.5rem;
  width:auto; 
  max-width:100%;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.price {
  background-color: #286b0a;
}
.price-list {
  margin-top: 2rem;
  padding: 0;
  min-height: 20rem;
  list-style: none;
  font-size: 2rem;
  line-height: 3.5rem;
}
.price li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/checked.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.price-block {
  margin-top: 5rem;
  min-height: 70rem;
  padding: 4rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  font-size: 2rem;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
}
.price-block img {
  display: inline-block;
  margin-bottom: 2rem;
}
.price-block-tag {
  display: block;
  font-size: 1.9rem;
  margin-bottom: 2rem;
}
.price-block .price-btn-list {
  padding: 2rem 6rem;
}
.price .price-btn {
  padding: 2rem;
}
.price h2 {
  color: white;
  font-size: 3.6rem;
  text-align: center;
}
.price p {
  margin-top: 5rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-form {
  margin-top: 4rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: white;
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
  background-color: #ffffff;
}
.popup-header {
  font-size: 2rem;
}
.popup-text {
  font-size: 1.5rem;
}
.feedback {
  position: relative;
  background: url(../img/feedback/bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  background-color: #ffffff;
  text-align: center;
  font-size: 1.3rem;
}
.feedback-form h3 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.feedback-form label {
  -webkit-transform: translate(0, 150%);
          transform: translate(0, 150%);
  background-color: #ffffff;
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.feedback .hand {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 40rem;
}
.feedback .media {
  margin-top: 3rem;
  margin-left: 1rem;
  text-align: left;
}
.feedback .media p {
  font-size: 1.3rem;
}
.feedback h2 {
  font-size: 4rem;
}
.feedback .media-left {
  margin-left: 2rem;
}
.feedback .media-body {
  display: inline;
  text-align: left;
}
.feedback p {
  font-size: 2rem;
}
.feedback h2 {
  margin-bottom: 10rem;
}
.feedback-text {
  padding: 2rem;
  border: 2px solid #46b814;
}
.scheme {
  padding-bottom: 0;
  background: #ffffff url(../img/scheme/snachala-nuzhno-nanesti-bazovyy-sloy.png) no-repeat;
  background-size: 60rem ;
  background-position: right bottom -10rem;
  text-align: center;
}
.scheme h2 {
  font-size: 3rem;
}
.scheme .main-text {
  font-size: 2rem;
  margin-top: 5rem;
}
.scheme h3 {
  margin-top: 1rem;
  font-weight: bolder;
}
.scheme p {
  margin-top: 3rem;
  font-size: 1.5rem;
}
.include-head {
  margin-top: 10rem;
  color: green;
  text-align: center;
  font-size: 3.5rem;
}
.include-header {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
}
.include .circle {
  display: inline-block;
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.include .circle-boarder {
  padding: 3px;
  display: inline-block;
  width: rem;
  height: rem;
  border: 2px solid green;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: white;
  font-size: 2.5rem;
}
.include .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10rem;
}
.include .media-left {
  margin-top: 1rem;
  text-align: center;
}
.include .media-text {
  margin-top: 3rem;
  margin-left: 2rem;
}
.problems {
  position: relative;
}
.problems h2 {
  font-size: 4rem;
}
.problems-girl {
  position: absolute;
  width: 30rem;
  bottom: 0;
  left: 50%;
  margin-left: -18rem;
}
.problems-list {
  font-size: 1.5rem;
  border: 4px solid;
  margin-bottom: 2rem;
  padding: 2rem;
  min-height: 35rem;
}
.problems-list h4 {
  font-size: 2.1rem;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 2rem;
}
.problems-list li {
  padding-left: 3.5rem;
  position: relative;
  margin-bottom: 3rem;
}
.problems-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 4rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/problems/cancel-music.svg) center no-repeat;
}
.problems-list_good {
  border-color: green;
}
.problems-list_good ul li:before {
  background: url(../img/problems/checked-symbol.svg) center no-repeat;
}
.materials {
  margin-bottom: 0;
  background: url(../img/materials/materials-bg.png) center no-repeat;
  background-size: cover;
}
.materials .materials-p {
  font-size: 1.4rem;
}
.materials .materials-h {
  font-size: 3rem;
  margin-bottom: 8rem;
}
.materials a {
  color: green;
  padding-bottom: 2rem;
}
.materials-item {
  padding-bottom: 2rem;
  text-align: center;
}
.materials .materials-footer {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.8rem;
}
.work {
  margin-top: 0;
  background: url(../img/work/work-bg.png) center no-repeat;
  background-size: cover;
}
.additional-services {
  background: url(../img/additonal-service/additional-bg.png) center no-repeat;
  background-size: cover;
}
.additional-services .services-h {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
.additional-services .services-p {
  color: white;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
  text-align: center;
}
.additional-services .services-item {
  padding-bottom: 3rem;
  text-align: center;
}
.additional-services .services-item p {
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.contacts {
  background: url(../img/contacts/contact-bg.png) center no-repeat;
  background-size: cover;
}
.contacts-left_side {
  font-size: 1.8rem;
}
.contacts-left_side h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.contacts-left_side p {
  margin: 3rem 0 3rem 0;
}
.footer {
  padding: 3rem 0 2.5rem 0;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
}
.footer-image {
  margin-bottom: 2rem;
}
@media (min-width: 993px) and (max-width: 1400px) {
  .contacts-left_side {
    text-align: center;
  }
  .map {
    text-align: center;
    left: 50%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .main-words {
    text-align: center;
  }
  .main-form {
    margin-top: 3rem;
  }
  .price-btn {
    text-align: center;
  }
  .price-button {
    text-align: center;
    margin-top: 2rem;
  }
  .main-words_footer {
    color: white;
    text-align: center;
  }
  .problems-girl {
    display: none;
  }
  .contacts-left_side {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .header-btn {
    display: block;
    height: 5.5rem;
    width: 100%;
    font-size: 1.6rem;
    padding: 1.5rem 0;
  }
  .main-words {
    text-align: center;
  }
  .main-form {
    margin-top: 3rem;
  }
  .price-button {
    text-align: center;
    margin-top: 2rem;
  }
  .problems-girl {
    display: none;
  }
  .contacts-left_side {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  .scheme {
    background: none;
  }
  .main-words_footer {
    color: white;
  }
  .section-header p {
    font-size: 1rem;
  }
  .main-content h1 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
  .map {
    display: none;
  }
  .main-words {
    text-align: center;
    margin-top: 4rem;
  }
  .main-form {
    margin-top: 3rem;
  }
  .logo,
  .phone-link {
    text-align: center;
    margin: 0;
  }
  .header-btn {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
  .price-button {
    text-align: center;
    margin-top: 2rem;
  }
  .problems-girl {
    display: none;
  }
  .contacts-left_side {
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .price-button {
    text-align: center;
    margin-top: 2rem;
  }
  .problems-girl {
    display: none;
  }
}
